// 项目的全局变量
// 侧边栏宽度
$base-menu-width: 260px;
// 侧边栏最小宽度
$base-menu-min-width: 56px;

// 侧边栏的背景颜色
$base-menu-background: #001529;

// 顶部导航栏的高度
$base-tabbar-height: 50px;

// logo高度
$base-menu-logo-height: 50px;

// logo区域字体大小
$base-menu-logo-fontSize: 30px;